*{
    box-sizing: border-box;
    font-family: Roboto-Regular,helvetica,arial,sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: 'Allura';
    src: url('./fonts/Allura.ttf');
}
html,body{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
}
#container{
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
}
#displayContainer{
    display: flex;
    align-items: flex-end;
    background: rgb(0, 0, 0);
    justify-content: flex-end;
    height: 100%;
    width: 100vw;
}
#results{
    color: rgb(243, 243, 243);
    font-size: 9vmin; 
    font-family:  Roboto-Regular,helvetica,arial,sans-serif;
    padding: 10px 20px;
    text-align: right;
}
#numbersContainer{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap-reverse;
    height: 67vh;
    width: 75%;
}
#operandContainer{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap-reverse;
    height: 67vh;
    width: 25%;
}
#btn{
    background-color: rgb(244, 244, 244);
    border: 1px solid rgba(244, 244, 244, 1);
    flex: 1 1 22vw;
}
#equals{
    border: 1px solid rgba(74, 139, 246, 1);
    background-color: rgba(74, 139, 246, 1);
    color: #fefefe;
    flex: 1 1 22vw;
}
#operand, #clear{
    background-color: rgb(223, 155, 67);
    border: 1px solid rgb(223, 155, 67);
    color: rgba(68, 68, 68, 1);
    flex: 1 1 20vmax;
}